<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
  <img src="/static/i/logo.png">
  </div>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
		 <li class="kuanjie">
		    <a href="/">首页</a>  
		 	<a href="/product">产品管理</a> 
		 	<a href="/holdlist">持仓管理</a> 
		 	 <a href="#">系统设置</a>
		 </li>

		 <li class="soso">
		 	
			<p>   
				
				<select data-am-selected="{btnWidth: 70, btnSize: 'sm', btnStyle: 'default'}">
			          <option value="b">全部</option>
			          <option value="o">基金</option>
			          <option value="o">账户</option>
			        </select>
			</p>
		
			<p class="ycfg"><input type="text" class="am-form-field am-input-sm" placeholder="" /></p>
			<p><button class="am-btn am-btn-xs am-btn-default am-xiao"><i class="am-icon-search"></i></button></p>
		 </li>
    </ul>
  </div>
</header>

<!--  <div class="am-cf admin-main"> -->

<div class="nav-navicon admin-main admin-sidebar">
    
    
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎登录：逝去的亮光</div>
    <div class="sideMenu">
      <h3 class="am-icon-home"> <a href="/">首页</a></h3>
      <ul></ul>
      <h3 class="am-icon-users"><em></em> <a href="#">产品管理</a></h3>
      <ul>
        <li> <a href="/product">产品列表</a></li>
        <li><a href="/holdlist">持仓管理</a></li>
        <li>历史收益</li>
      </ul>
      <h3 class="am-icon-gears"><em></em> <a href="#">系统设置</a></h3>
      <ul>
        <li>暂无</li>
      </ul>
    </div>
    
    <script type="text/javascript">
			jQuery(".sideMenu").slide({
				titCell:"h3", //鼠标触发对象
				targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
				effect:"slideDown", //targetCell下拉效果
				delayTime:300 , //效果时间
				triggerTime:150, //鼠标延迟触发时间（默认150）
				defaultPlay:true,//默认是否执行效果（默认true）
				returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
				});
		</script> 

    
</div>