<!doctype html>
<html class="no-js">
	<head>
	{% include 'head.html' %}
	</head>

<body>
{% include 'framework.html' %}

<div class=" admin-content">
	
		<div class="daohang">
<!--  			<ul>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"> 首页 </li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">帮助中心<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">奖金管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs">产品管理<a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close="">×</a></button></li>
			</ul>  -->
		</div>
	
  
<div class="admin">
   <div class="admin-index">
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 100}">
        <dt class="qs"><i class="am-icon-user"></i></dt>
        <dd>{{data.stock.account_num}}</dd>
        <dd class="f12">股票账户</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 300}">
        <dt class="cs"><i class="am-icon-user"></i></dt>
        <dd>{{data.future.account_num}}</dd>
        <dd class="f12">期货账户</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 600}">
        <dt class="hs"><i class="am-icon-line-chart"></i></dt>
        <dd>{{data.total.day_profit}}</dd>
        <dd class="f12">今日收益</dd>
      </dl>
      <dl data-am-scrollspy="{animation: 'slide-right', delay: 900}">
        <dt class="ls"><i class="am-icon-line-chart"></i></dt>
        <dd>{{data.total.total_profit}} </dd>
        <dd class="f12">累计收益</dd>
      </dl>
    </div>
    <div class="admin-biaoge">
      <div class="xinxitj">账户信息</div>
      <table class="am-table">
        <thead>
          <tr>
            <th>产品名字</th>
            <th>发型时间</th>
            <th>持仓个数</th>
            <th>持仓比例</th>
            <th>今日收益</th>
            <th>累计收益</th>
            <th>产品类型</th>
          </tr>
        </thead>
        <tbody>
       	{% for product in data.products %}
	         <tr>
	            <td>{{product.name}}</td>
	            <td>{{product.create_time}}</td>
	            <td><a href="#">{{product.holdnum}}</a></td>
	            <td>{{product.holdrate}}</td>
	            <td>{{product.day_profit}}</td>
	            <td>{{product.history_profit}} </td>
	            <td>{{product.type}} </td>
	          </tr>
        {% endfor %}
        </tbody>
      </table>
     
     
    </div>
    <div class="shuju">
      <div class="shujuone">
        <dl>
          <dt>股票资产：  {{data.stock.value}}</dt>
          <dt>今年利润：  {{data.stock.year_profit}}</dt>
          <dt>今年收益： {{data.stock.year_profit}}</dt>
          <dt>当月收益：  {{data.stock.mon_profit}}</dt>
        </dl>
        <ul>
          <h2> {{data.stock.total_profit}}</h2>
          <li>累计收益</li>
        </ul>
      </div>
      <div class="shujutow">
        <dl>
          <dt>期货资产：  {{data.future.value}}</dt>
          <dt>今年利润：   {{data.future.year_profit}}</dt>
          <dt>今年收益：  {{data.future.year_profit}}</dt>
          <dt>当月收益：  {{data.future.mon_profit}}</dt>
        </dl>
        <ul>
          <h2>{{data.future.total_profit}}</h2>
          <li>累计收益</li>
        </ul>
      </div>
      <div class="slideTxtBox">
      <!--    <div class="hd">
          <ul>
            <li>其他信息</li>
            <li>工作进度表</li>
          </ul>
        </div>
        <div class="bd">
          <ul>
           <table width="100%" class="am-table">
              <tbody>
                <tr>
                  <td  align="center">1 </td>
                  <td>工作进度名称</td>
                  <td  align="center"><a href="#">10%</a></td>
                </tr>
              </tbody>
            </table>
          </ul>
        </div>--> 
      </div>
      <script type="text/javascript">jQuery(".slideTxtBox").slide();</script> 
   
</div>

{% include 'foot.html' %}



</div>

</div>



<script src="/static/js/amazeui.min.js"></script>


</body>
</html>